<li>
  <%= link_to edit_activity_slot_path(@activity, slot) do %> 
    <p>
      <%= slot.start.strftime("%F, %l:%M %P") %>
      <span class="pull-right">
        <strong><%= slot.bookings.count %> / <%= slot.inventory %></strong>
      </span>
    </p>
    <% percentage = 100 * slot.bookings.count / slot.inventory  %>
    <div class="progress progress-striped active">
      <div class="progress-bar <% if percentage < 50 %>progress-bar-info<% elsif percentage < 75 %>progress-bar-warning<% else %>progress-bar-danger<% end %>" role="progressbar" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percentage %>%;"></div>
    </div>
  <% end %>
</li>