<div class="background-wrapper margin-30" style="background-image: url(https://d129j62do8x4uv.cloudfront.net/rsvpd/Static/stock/category/categories-5.jpg)">
  <div class="categories text-center">
    <%= render 'layouts/categories', categories: @categories %>
  </div>
</div>
<div id="topsearch">
  <div class="searchbar">
    <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: " 搜尋"  %>
    <% end %>
  </div> 
</div>

<section id="content">
  <div class="container">
    <%= render 'layouts/flash' %>
    <div class="panel-heading margin-30">
      <h4 class="panel-title">
        <%= render 'layouts/navigation' %>
      </h4>
    </div>
    <div class="activities-wrapper">
      <%= render 'layouts/activities', activities: @activities %>
    </div>
    <div class="paginate-wrap text-center">
      <%= render 'layouts/infinity', activities: @activities %>
    </div>

  </div>
</section>

<script>
  var disqus_developer = 1;
  var disqus_shortname = 'rsvpo'; // required: replace example with your forum shortname

  function loadDisqus(){
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  }
  
  $(window).scroll(function() {
    var url;
    url = $('.pagination .next_page a').attr('href');
    if (url && $(window).scrollTop() >= $(document).height() - $(window).height()) {
      $('.pagination').text(" 載入中");
      return $.getScript(url);
    }
  });
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
</script>
<script>
  $(window).scroll();
  jQuery(document).ready(function() {
    jQuery.timeago.settings.allowFuture = true;
    jQuery("abbr.timeago").timeago();
    $('.background-wrapper').css("background-image", "url(https://d129j62do8x4uv.cloudfront.net/rsvpd/Static/stock/category/categories-1.jpg)");  
  });
  var query = getParameterByName('query');
  loadDisqus();
</script>