<%= render 'layouts/section', title: "收件箱" %>

<section id="content">
  <div class="container"> 
    <%= render 'layouts/flash' %>
    <ul class="list-inline portfolio text-center">
      <% @messages.each do |message| %>
      <li data-tag="graphics">
        <div class="thumbs">
          <% merchant = Merchant.find(message) %>
          <% if merchant.logo %>
            <%= cl_image_tag(merchant.logo.path, { size: '150x150', crop: :fill}, class: "img-responsive") %>
          <% else %>
            <img src="http://res.cloudinary.com/rsvpo/image/upload/c_lfill,h_150,w_150/v1402566281/Unknown.png" alt="" />
          <% end %>
          <% msg = Message.find_by_user_id_and_merchant_id(current_user.id, message) %>
          <%= link_to message_path(msg) do %>
            <span class="title">
              <span><h5>
                <abbr class="timeago" title="<%= msg.created_at.getutc.iso8601 %>">
                  <%= msg.created_at.to_s %>
                </abbr>
              </h5></span>
            </span>
          </div>
          <% end %>
          <div class="project-title margin-30">
            <h5><%= merchant.name %></h5>
          </div>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<script>
  $(document).on('ready page:load', function () {
    jQuery("abbr.timeago").timeago();
  });
</script>