<%= render 'layouts/section', title: "收件箱" %>

<section id="content">
  <div class="container">
    <div id="mailbox">
      <div id="mailbox-wrapper">
        <div class="portlet portlet-purple">
          <div class="portlet-heading">
            <div class="portlet-title">
              <h4>所有對話</h4>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="portlet-body">
            <div class="table-responsive mailbox-messages">
              <table class="table table-bordered table-hover">
                <tbody>
                  <thead>
                    <tr>
                      <th>商戶</th>
                      <th>訊息</th>
                      <th>發出時間</th>
                    </tr>
                  </thead>
                  <% @messages.each do |message| %>
                  <tr class="unread-message clickableRow" data-link="<%= message_path(message) %>">     
                    <td class="from-col"><%= message.merchant.name %></td>
                    <td class="msg-col">
                      <%= message.content %>
                    </td>
                    <td class="date-col">
                      <abbr class="timeago" title="<%= message.created_at.getutc.iso8601 %>">
                        <%= message.created_at.to_s%>
                      </abbr>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.portlet -->
        
      </div>
    </div>
  </div>
</section>

<script>
  jQuery(function($) {
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
  })
</script>
<script>
  jQuery(document).ready(function() {
    jQuery("abbr.timeago").timeago();
  });
</script>