<%= render 'layouts/section', title: @booking.slot.activity.title + "的預約詳情", 
            :captured => capture { %>
              <%= link_to '(回到時間表)', upcoming_path %>
            <% } %>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <div class="portlet portlet-default userside">
          <div class="portlet-body">
            
            <div class="booking-info">
              <div class="top-right">
                <div class="block">
                  <span class="updated-at">更新於: <%= @booking.updated_at.strftime("%F, %l:%M %P") %></span>
                </div>
                <div class="block">
                  <span class="start-at background-yellow">活動開始於: <%= @booking.slot.start.strftime("%F, %l:%M %P") %></span>
                </div>
              </div>
              
              <div class="booking-label">
                預約狀態:
              </div>
              <p class="booking-content">
                <% if @booking.confirm %>
                  已確認
                <% else %>
                  待確認
                <% end %>
              </p>
              <div class="booking-label">
                活動:
              </div>
              <p class="booking-content">
                <%= link_to @booking.slot.activity.title, activity_path(@booking.slot.activity) %>
              </p>
              <div class="booking-label">
                參加者:
              </div>
              <p class="booking-content">
                <% if @booking.friend %><%= @booking.name %><% else %><%= current_user.name %><% end %>
              </p>
              <div class="booking-label">
                活動時段:
              </div>
              <p class="booking-content">
                <%= @booking.slot.start.strftime("%F, %l:%M %P")  %> - <%= @booking.slot.finish.strftime("%F, %l:%M %P")  %>
              </p>
              <div class="booking-label">
                其他資料:
              </div>
              <p class="booking-content">
                <%= @booking.optional %>
              </p>
              <div class="booking-label">
                商戶:
              </div>
              <p class="booking-content">
                <%= link_to @booking.slot.activity.merchant.name, merchant_path(@booking.slot.activity.merchant) %>
              </p>
              <div class="booking-label">
                電話:
              </div>
              <p class="booking-content">
                <%= @booking.slot.address.phone %>
              </p>
              <div class="booking-label">
                地址:
              </div>
              <p class="booking-content">
                <%= @booking.slot.address.address %>, <%= @booking.slot.address.locality %>
              </p>
              
              <div class="map-wrap">
                <div id="map_canvas"></div>
              </div>
            </div>

            <div class="btn-wrap text-center">
              <%= link_to raw('<i class="fa fa-envelope"></i> ') + @booking.slot.activity.merchant.name, to_merchant_path(@booking.slot.activity.merchant.id), class: "btn-main background-yellow" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  var latlng, latlng_x, latlng_y, map, marker, marker_latlng, myOptions;
  latlng_x = <%= @booking.slot.address.lat %>;
  latlng_y = <%= @booking.slot.address.lng %>;
  latlng = new google.maps.LatLng(latlng_x, latlng_y);
  myOptions = {
    scrollwheel: false,
    zoom: 17,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  marker_latlng = new google.maps.LatLng(latlng_x, latlng_y);
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  marker = new google.maps.Marker({
    position: marker_latlng,
    map: map
  });
</script>