<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">

  <div class="page-content">

    <!-- begin PAGE TITLE ROW -->
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">
          <h1>
            訊息
          </h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>  <a href="index.html">控制台</a>
            </li>
            <li class="active">訊息</li>
          </ol>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE ROW -->

    <div class="row">
      <div class="col-lg-12">
        <div class="portlet portlet-default">
          <div class="portlet-body">

            <nav class="navbar mailbox-topnav" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="mailbox.html"><i class="fa fa-inbox"></i> Inbox</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="mailbox-nav">
                <%= link_to raw('<i class="fa fa-edit"></i>') + "Compose Message", new_message_path, :class => 'btn btn-white' %>
              </div>
            </nav>

            <div id="mailbox">

              <div id="mailbox-wrapper">
                <div class="table-responsive mailbox-messages">
                  <table class="table table-bordered table-hover">
                    <tbody>
                      <thead>
                        <tr>
                          <th>From</th>
                          <th>Message</th>
                          <th>Time</th>
                        </tr>
                      </thead>
                      <% @messages.each do |message| %>
                      <tr class="unread-message clickableRow" data-link="<%= message_path(message) %>">     
                        <td class="from-col"><%= message.user.name %></td>
                        <td class="msg-col">
                          <%= message.content %>
                        </td>
                        <td class="date-col">
                          <abbr class="timeago" title="<%= message.created_at.getutc.iso8601 %>">
                            <%= message.created_at.to_s%>
                          </abbr>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.page-content -->

</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->

<script>
  jQuery(function($) {
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
  })
</script>