<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.7/jquery-ui.js"></script>

<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="<%= ENV['CF'] %>addresspicker3.js"></script>

<div id="map" style="height: 300px"></div>

<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_form_for(@address, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8  .col-md-offset-1") do |f| %>
      <%= f.text_field :address, :label => "地址", :placeholder => "地址", id: "address_address", class: "addresspicker_map" %>
      <%= f.text_field :phone, :label => "電話", :placeholder => "電話" %>
      <%= f.text_field :locality, :label => "地點", :placeholder => "地點", class: 'locality' %>
      <%= f.text_field :province, :label => "省", :placeholder => "省", class:  'administrative_area_level_1' %>
      <%= f.text_field :country, :as => :string, :label => "國家", :placeholder => "國家", class:  'country' %>
      <%= f.text_field :lat, :label => "緯度", :placeholder => "緯度", class: 'lat' %>
      <%= f.text_field :lng, :label => "經度", :placeholder => "經度", class: 'lng' %>
      <%= f.form_group do %>
        <%= f.submit "確認地址" %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    var addresspickerMap = $(".addresspicker_map").addresspicker({
      regionBias: "fr",
      updateCallback: showCallback,
      elements: {
        map:      "#map",
        lat:      ".lat",
        lng:      ".lng",
        street_number: '.street_number',
        route: '.route',
        locality: '.locality',
        administrative_area_level_2: '.administrative_area_level_2',
        administrative_area_level_1: '.administrative_area_level_1',
        country:  '.country',
        postal_code: '.postal_code',
        type:    '.type' 
      }
    });

    var gmarker = addresspickerMap.addresspicker( "marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker( "updatePosition");

    function showCallback(geocodeResult, parsedGeocodeResult){
      $('#callback_result').text(JSON.stringify(parsedGeocodeResult, null, 4));
    }
  });
</script>
<script>
  $(document).ready(function() {
    reload_calendar();
  });
</script>

