<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">
  <div class="page-content">

    <!-- begin PAGE TITLE ROW -->
    <div class="row">
      <div class="col-lg-12">
        <div class="page-title">
          <h1>
            地址
          </h1>
          <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>  <a href="index.html">控制台</a>
            </li>
            <li class="active">地址</li>
          </ol>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE ROW -->

    <div class="row">
      <div class="col-lg-12">
        <div class="portlet portlet-default">
          <div class="portlet-body">

            <nav class="navbar mailbox-topnav" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand" href="mailbox.html"><i class="fa fa-inbox"></i> 地址</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="mailbox-nav">
                <%= link_to raw('<i class="fa fa-edit"></i>') + " 加入地址", new_address_path, :class => 'btn btn-white' %>
              </div>
            </nav>

            <div id="mailbox">

              <div id="mailbox-wrapper">

                <div class="table-responsive mailbox-messages">
                  <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th>地址</th>
                        <th>電話</th>
                        <th>地點</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @addresses.each do |address| %>
                          <tr>     
                            <td><%= address.address %></td>
                            <td><%= address.phone %></td>
                            <td><%= address.locality %></td>
                            <td>
                              <%= link_to "更新地址", edit_address_path(address), class: "btn btn-info" %>
                              <%= link_to "刪除地址", address, :method => :delete, class: "btn btn-info" %>
                            </td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.page-content -->

</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->

<script>
  jQuery(function($) {
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
  })
</script>