<span class="activities">
  <% activities.each do |activity| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <% if activity.photos.first %>
          <% activity.photos.each do |photo| %>
            <%= cl_image_tag(photo.path, { size: '350x150', crop: :fill}) %>
          <% end %>
        <% else %>
          <img src="<%= ENV['CF'] %>Unknown.png" alt="" style="height 150px;"/>
        <% end %>
        <div class="caption">
          <h4><%= activity.title %></h4>
          <%= activity.merchant_name %> <span class="badge pull-right">$ <%= activity.price %> </span>
        </div>
      </div>
    </div>
  <% end %>
</span>