<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
<script src="<%= ENV['CF'] %>jquery.ui.timepicker.js"></script>

<% start_date = params[:start_date].to_datetime.strftime('%F') if params[:start_date] %>
<% start_time = params[:start_date].to_datetime.strftime('%I:%M %p') if params[:start_date] %>
<% end_time = (params[:start_date].to_datetime + 30.minutes).strftime('%I:%M %p') if params[:start_date] %>

<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_form_for @rule, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8  .col-md-offset-1", html: {novalidate: 'novalidate'} do |f| %>
      <%= f.hidden_field :activity_id, :value => @activity.id %>
      <%= f.collection_select(:address_id, @activity.addresses.all, :id, :address, :label => "地址", :placeholder => "地址") %>
      <%= f.form_group :is_all_day do %>
        <%= f.check_box :is_all_day, label: "全日活動" %>
      <% end %>
      <% if params[:start_date] %>
        <%= f.text_field :from_date, {:label => "開始日期", :placeholder => "開始日期", :class => 'datepicker', :value => "#{start_date}"} %>
      <% else %>
        <%= f.text_field :from_date, {:label => "開始日期", :placeholder => "開始日期", :class => 'datepicker'} %>
      <% end %>
      <div class="rule_time">
        <% if params[:start_date] %>
          <%= f.text_field :from_time, {:label => "開始時間", :placeholder => "開始時間", :class => 'timepicker', :value => "#{start_time}"} %>
        <% else %>
          <%= f.text_field :from_time, {:label => "開始時間", :placeholder => "開始時間", :class => 'timepicker'} %>
        <% end %>
      </div>
      <% if params[:start_date] %>
        <%= f.text_field :to_date, {:label => "結束日期", :placeholder => "結束日期", :class => 'datepicker', :value => "#{start_date}"} %>
      <% else %>
        <%= f.text_field :to_date, {:label => "結束日期", :placeholder => "結束日期", :class => 'datepicker'} %>
      <% end %>
      <div class="rule_time">
        <% if params[:start_date] %>
        <%= f.text_field :to_time, {:label => "結束時間", :placeholder => "結束時間", :value => "#{end_time}"} %>
        <% else %>
        <%= f.text_field :to_time, {:label => "結束時間", :placeholder => "結束時間"} %>
        <% end %>
      </div>
      <div class="event_time">
        <%= f.hidden_field :time_zone, :value => "Hong Kong" %>
      </div>
      <%= f.select :repeats, ['永不','每日','每週','每月'], :label => "重複" %>
      <%= render partial: 'repeats_daily_options', locals: {f: f} %>
      <%= render partial: 'repeats_weekly_options', locals: {f: f} %>
      <%= render partial: 'repeats_monthly_options', locals: {f: f} %>
      <div class="rule_option" id="repeats_options">
        <%= f.select :repeat_ends, ['永不','完結於'], :label => "完結" %>
        <div id="rule_repeat_ends_on">
          <%= f.date_select :repeat_ends_on, {:label => "完結於"}, {style: 'width:auto;'} %>
        </div>
      </div>
      <%= f.text_area :description, rows: 5, :label => "簡介", :placeholder => "簡介" %>
      <%= f.number_field :inventory, :label => "空檔", :placeholder => "空檔" %>
      <%= f.form_group do %>
        <%= f.submit "確認時段" %>
      <% end %>
      <% end %>
  </div>
</div>

<script>
  function toggle_rule_times() {
    if($('#rule_is_all_day').is(':checked')){
      $('.rule_time').hide();
    } else {
      $('.rule_time').show();
    }
  }
  function toggle_rule_options() {
    $('.rule_option').hide();
    switch ($('#rule_repeats').val())
    {
    case '永不':
      // Nothing
      break;
    case '每日':
      $('#repeats_options').show();
      $('#repeats_daily_options').show();
      break;
    case '每週':
      $('#repeats_options').show();
      $('#repeats_weekly_options').show();
      break;
    case '每月':
      $('#repeats_options').show();
      $('#repeats_monthly_options').show();
      break;
    case '每年':
      $('#repeats_options').show();
      $('#repeats_yearly_options').show();
      break;
    }
  }
  function toggle_repeat_ends_on() {
    switch ($('#rule_repeat_ends').val())
    {
    case 'never':
      $('#rule_repeat_ends_on').hide();
      break;
    case 'on':
      $('#rule_repeat_ends_on').show();
      break;
    }
  }
  function toggle_repeats_monthly() {
    switch ($('#rule_repeats_monthly').val())
    {
    case '日期':
      $('#rule_repeats_monthly_each').show();
      $('#rule_repeats_monthly_on').hide();
      break;
    case '星期N':
      $('#rule_repeats_monthly_each').hide();
      $('#rule_repeats_monthly_on').show();
      break;
    }
  }
</script>
<script>
  function toggles(){
    toggle_rule_times();
    $('#rule_is_all_day').on('change',function(){
      toggle_rule_times();
    });
    toggle_rule_options();
    $('#rule_repeats').on('change',function(){
      toggle_rule_options();
    });
    toggle_repeat_ends_on();
    $('#rule_repeat_ends').on('change',function(){
      toggle_repeat_ends_on();
    });
    toggle_repeats_monthly();
    $('#rule_repeats_monthly').on('change',function(){
      toggle_repeats_monthly();
    });
    
    $('#rule_from_time').on('change',function(){
      var input_time = $("#rule_from_time").val().split(':');
      var hours = parseInt(input_time[0]);
      var mins = parseInt(input_time[1]);
      
      var input_date = $("#rule_from_date").val().split('-');
      var year = parseInt(input_date[0]);
      var month = parseInt(input_date[1]);
      var day = parseInt(input_date[2]);
      
      var date = new Date(year, month-1, day, hours, mins);
      date.setMinutes(date.getMinutes() + <%= @activity.duration %>)
      
      var time_output = date.getHours()+":"+date.getMinutes();
      var date_output = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+("0" + date.getDate()).slice(-2)
      $('#rule_to_time').val(time_output);
      $('#rule_to_date').val(date_output);
    });
    $('.timepicker').timepicker();
    $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
  };
</script>
<script>
  $(document).on('ready page:load', function () {
    $('#rule_to_date').prop('readonly', true);
    $('#rule_to_time').prop('readonly', true);
    toggles();
  });
</script>