<fieldset class="rule_option" id="repeats_yearly_options">
  <%= f.number_field :repeats_every_n_years %>
  <div class="control-group">
    <label class="control-label">Each</label>
    <div class="controls">
      <% %w[january february march april may june july august september october november december].each do |month_of_the_year| %>
        <%= label_tag "rule_repeats_yearly_each_months_of_the_year_#{month_of_the_year}", month_of_the_year.humanize, :class => 'checkbox-inline' do %>
          <%= check_box_tag "rule[repeats_yearly_each_months_of_the_year][#{month_of_the_year}]", month_of_the_year, f.object.repeats_yearly_each_months_of_the_year.include?(month_of_the_year), {:name => "rule[repeats_yearly_each_months_of_the_year][]"} %>
          <%= month_of_the_year.humanize %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "rule[repeats_yearly_each_months_of_the_year][]", "" %>
    </div>
  </div>
  <%= f.check_box :repeats_yearly_on %>
  <div class="control-group" id="rule_repeats_yearly_on_options">
    <label class="control-label">On the</label>
    <div class="controls">
      <% [1,2,3,4,-1].each_with_index do |ordinal,index| %>
        <%= label_tag "rule_repeats_yearly_on_ordinals_#{ordinal}", ordinal, :class => 'checkbox-inline' do %>
          <%= check_box_tag "rule[repeats_yearly_on_ordinals][#{ordinal}]", ordinal, f.object.repeats_yearly_on_ordinals.include?(ordinal), {:name => "rule[repeats_yearly_on_ordinals][]"} %>
          <%= ['first','second','third','fourth','last'][index] %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "rule[repeats_yearly_on_ordinals][]", "" %>
      <hr/>
      <% %w[sunday monday tuesday wednesday thursday friday saturday].each do |day_of_the_week| %>
        <%= label_tag "rule_repeats_yearly_on_days_of_the_week_#{day_of_the_week}", day_of_the_week.humanize, :class => 'checkbox-inline' do %>
          <%= check_box_tag "rule[repeats_yearly_on_days_of_the_week][#{day_of_the_week}]", day_of_the_week, f.object.repeats_yearly_on_days_of_the_week.include?(day_of_the_week), {:name => "rule[repeats_yearly_on_days_of_the_week][]"} %>
          <%= day_of_the_week.humanize %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "rule[repeats_yearly_on_days_of_the_week][]", "" %>
    </div>
  </div>
</fieldset>
