<fieldset class="rule_option" id="repeats_weekly_options">
  <%= f.number_field :repeats_every_n_weeks, :label => "每N日重複"  %>
  <div class="control-group">
    <label class="control-label">選擇日期</label>
    <div class="controls">
      <% %w[sunday monday tuesday wednesday thursday friday saturday].each do |day_of_the_week| %>
        <%= label_tag "rule_repeats_weekly_each_days_of_the_week_#{day_of_the_week}", day_of_the_week.humanize, :class => 'checkbox-inline' do %>
          <%= check_box_tag "rule[repeats_weekly_each_days_of_the_week][#{day_of_the_week}]", day_of_the_week, f.object.repeats_weekly_each_days_of_the_week.include?(day_of_the_week), {:name => "rule[repeats_weekly_each_days_of_the_week][]"} %>
          <%= day_of_the_week.humanize %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "rule[repeats_weekly_each_days_of_the_week][]", "" %>
    </div>
  </div>
</fieldset>