<script src="<%= ENV['CF'] %>fullcalendar.min.js"></script>
<link href="<%= ENV['CF'] %>fullcalendar.css" rel="stylesheet">

<div class="container">
  <h1>Rules</h1>

  <div id='calendar'></div>

  <table>
    <thead>
      <tr>
        <th>Schedule</th>
        <th>Activity</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rules.each do |rule| %>
        <tr>
          <td><%= rule.schedule %></td>
          <td><%= rule.activity %></td>
          <td><%= link_to 'Show', rule %></td>
          <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
          <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Rule', new_rule_path %>
</div>

<script>
  function reload_calendar(){
    var source = new Array();
    var new_rule_link = "<%= new_rule_path %>"
    $('#calendar').fullCalendar({
      dayClick: function(date, allDay, jsEvent, view) {
        document.location.href=new_rule_link + "?start_date=" + date;
      },
        header: {
            left: 'prev,today,next',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        editable: true,
        ignoreTimezone: false,
        select: this.select,
        eventClick: this.eventClick,
        eventSources: [
          // your event source
          {
              url: '/rule_instances.json',
              data: {
                  custom_param1: 'something',
                  custom_param2: 'somethingelse'
              },
              error: function() {
                  alert('there was an error while fetching events!');
              }
          }
          // any other sources...
        ],
        timeFormat: 'h:mmtt{ - h:mmtt} '
    });
  }
</script>
<script>
  $(document).ready(function() {
    reload_calendar();
  });
</script>