<ul class="list-inline portfolio text-center">
  <% activities.each do |activity| %>
  <li data-tag="graphics">
    <div class="thumbs">
      <% if activity.photos.first %>
        <% activity.photos.each do |photo| %>
          <%= cl_image_tag(photo.path, { size: '280x430', crop: :fill}, class: "img-responsive") %>
        <% end %>
      <% else %>
        <img src="http://res.cloudinary.com/rsvpo/image/upload/c_lfill,h_280,w_430/v1402566281/Unknown.png" alt="" />
      <% end %>
      <%= link_to activity do %>
        <span class="title">
          <h4><%= activity.title %></h4>
          <h5><%= activity.merchant_name %></h5>
          <h5><%= activity.category.name %></h5>
          <h5><%= activity.duration %>分鐘</h5>
          <h5>$<%= activity.price %></h5>
        </span>
      </div>
      <% end %>
      <div class="project-title margin-30">
        <h5><%= activity.title %></h5>
      </div>
  </li>
  <% end %>
</ul>