<!DOCTYPE html>
<html>
<head>
  <title>RSVPO Merchant</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=HK"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
  <script src="<%= ENV['STATIC'] %>fullcalendar.js"></script>
  <script src="<%= ENV['STATIC'] %>morris.js"></script>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
</head>
<body class="merchant_layouts <%= "#{params[:controller]}_#{params[:action]}" %>">
  <div id="wrapper">

    <!-- begin TOP NAVIGATION -->
    <nav class="navbar-top" role="navigation">

      <!-- begin BRAND HEADING -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
          <i class="fa fa-bars"></i> 選項
        </button>
        <div class="navbar-brand">
          <%= link_to dashboard_path do %>
            <img src="http://res.cloudinary.com/rsvpo/image/upload/c_scale,h_38/v1405073481/logo_rsvpo.png" alt="RSVPO"/>
          <% end %>
        </div>
      </div>
      <!-- end BRAND HEADING -->

      <div class="nav-top">

        <!-- begin LEFT SIDE WIDGETS -->
        <ul class="nav navbar-left">
          <li class="sidebar-toggle">
            <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="顯示選項">
              <i class="fa fa-bars"></i>
            </a>
          </li>
          <!-- You may add more widgets here using <li> -->
        </ul>
        <!-- end LEFT SIDE WIDGETS -->

        <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
        <ul class="nav navbar-right">
          <%= render 'layouts/messagedrop', messages: @messages_dropdown %>
          <%= render 'layouts/alertdrop', alerts: @alerts_dropdown %>
          
          <!-- begin USER ACTIONS DROPDOWN -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="mailbox.html">
                  <i class="fa fa-envelope"></i> 訊息
                  <span class="badge green pull-right"><% if @messages_dropdown %><%= @messages_dropdown.count %><% end %></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-bell"></i> 通知
                  <span class="badge orange pull-right"><% if @alerts_dropdown %><%= @alerts_dropdown.count(:all) %><% end %></span>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to raw('<i class="fa fa-gear"></i>') + " 設定", edit_merchant_registration_path %>
              </li>
              <li>
                <a class="logout_open" href="#logout">
                  <%= link_to destroy_merchant_session_path, :method => :delete, data: {no_turbolink: true} do %>
                      <i class="fa fa-sign-out"></i> 登出
                  <% end %>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-menu -->
          </li>
          <!-- /.dropdown -->
          <!-- end USER ACTIONS DROPDOWN -->

        </ul>
        <!-- /.nav -->
        <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

      </div>
      <!-- /.nav-top -->
    </nav>
    <!-- /.navbar-top -->
    <!-- end TOP NAVIGATION -->

    <%= render 'layouts/sidenav'%>
    
<!--     <%= render 'layouts/flash' %> -->
    <%= yield %>

  </div>
  <!-- /#wrapper -->

  <%= render 'layouts/scripts' %>
</body>
  <%= render "layouts/footer" unless @skip_footer %>
</html>
